body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.restaurant-header {
    display: flex;
    align-items: center;
    background-color: #92BCA0;
    padding: 20px;
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px;
}

.back-button img {
    width: 30px;
    height: auto;
}

.restaurant-header h1 {
    margin: 0;
    flex-grow: 1; /* Растягиваем заголовок, чтобы занимал все доступное пространство */
}

.rating {
    margin-right: 20px; /* Уменьшаем отступ для рейтинга */
}

.logo {
    max-width: 100px; /* Устанавливаем максимальную ширину для логотипа */
    height: auto;
}

main {
    max-width: 800px; /* Устанавливаем максимальную ширину контейнера с содержимым */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    padding: 20px; /* Добавляем отступы вокруг контейнера */
}

img {
    max-width: 100%; /* Сделаем изображения адаптивными */
    height: auto;
}

.restaurant-info {
    margin-top: 20px; /* Добавляем отступ над блоком информации о ресторане */
}

.restaurant-info p {
    margin-bottom: 10px; /* Добавляем отступ между параграфами */
}

@media screen and (max-width: 600px) {
    .restaurant-header {
        flex-direction: column; /* Меняем направление расположения элементов на вертикальное */
        align-items: flex-start; /* Выравниваем элементы слева */
        text-align: center; /* Выравниваем текст по центру */
    }

    .rating {
        margin: 10px 0; /* Уменьшаем отступы для рейтинга */
    }

    .logo {
        margin: 10px auto; /* Центрируем логотип */
    }
}
